<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.landco.magic-keyboard-keymap</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/m1/bin/magic-keyboard-keymap</string>
    </array>

    <key>ProcessType</key>
    <string>Background</string>

    <key>LaunchEvents</key>
    <dict>
        <key>com.apple.iokit.matching</key>
        <dict>
            <key>Magic Keyboard attached</key>
            <dict>
                <key>IOProviderClass</key>
                <string>AppleHIDKeyboardEventDriverV2</string>

                <key>IOPropertyMatch</key>
                <dict>
                    <key>VendorID</key>
                    <integer>76</integer>
                    <key>ProductID</key>
                    <integer>668</integer>
                    <key>Transport</key>
                    <string>Bluetooth</string>
                    <key>PrimaryUsagePage</key>
                    <integer>1</integer>
                    <key>PrimaryUsage</key>
                    <integer>6</integer>
                </dict>

                <key>IOMatchLaunchStream</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
